header {
	/* Font for the header */
	font-family: 'Oswald', sans-serif;
}

div {
	/* Font for english contents */
	font-family: 'Noto Sans SC', 'Gotu', sans-serif;
}

body {
	padding: 1em;
	font-family: 'Noto Sans SC', sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checker.png");
	background-repeat: repeat;
}

ul {
	list-style: none;
}

a {
	font-size: 14px;
	color: darkblue;
}

a:hover {
}

a:visited {
	color: darkblue;
}

img {
	display: block;
	margin: auto;
	padding: 4em;
}

code {
	border: 1px solid #ccc;
	border-radius: 5px;
}
